:root {
  --color-primary: #d54b29;  
  --color-secondary: #fff8f4; 
  --color-accent: #3f567f;  
  --color-background: #ae4009; 
  --color-text: #20213c;
}

/* Optional: set some base styles */
html, body {
  margin: 0;
  padding: 0;
  font-family: system-ui, sans-serif;
  background: url('/images/background.jpg?v=2') no-repeat center center fixed;
  background-size: cover;
  color: var(--color-text);
}